{% load static %}
<footer class="bg-dark text-white pt-4 mt-5">
  <div class="container">
    <div class="row">
      
      <!-- Контактная информация -->
      <div class="col-md-4 mb-4">
        <h5 class="text-warning">Контакты</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi bi-telephone-fill me-2"></i>
            <a href="tel:+79104626103"
               class="text-white text-decoration-none">+7 (910) 462-61-03</a>
          </li>
          <li>
            <i class="bi bi-envelope-fill me-2"></i>
            <a href="mailto:btnchsky.sad@mail.ru"
               class="text-white text-decoration-none">btnchsky.sad@mail.ru</a>
          </li>
        </ul>
      </div>

      <!-- Соцсети -->
      <div class="col-md-4 mb-4">
        <h5 class="text-warning">Я в соцсетях</h5>
        <div class="d-flex gap-3">
          <a href="https://t.me/blinchuvaketopolniyotstoy" class="text-white fs-4">
            <i class="bi bi-telegram"></i>
          </a>
          <a href="https://www.instagram.com/m.lasellar?igsh=NThicjIzZXpzc29p&utm_source=qr"
             class="text-white fs-4">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/Lasellar" class="text-white fs-4">
            <i class="bi-github"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="text-warning">Пожалуйста!</h5>
        <p class="small">
          Не звоните раньше 10:00 и позже 22:00 по Московскому времени. Спасибо!
        </p>
      </div>
      <div class="border-top pt-3">
      </div>
    </div>
  </div>
</footer>