{% extends "base.html" %}
{% load static %}
{% block title %}
  Обо мне
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="text-center col-md-6 mb-6">
        <p>
          Привет! Меня зовут Максим, и я — backend-разработчик из
          Москвы. Начиная с 2023 года активно развиваю свои
          навыки в области программирования и веб-разработки.
        </p>
        <p>
          Я стремлюсь создавать высококачественные и надежные приложения,
          используя современные инструменты и методологии разработки. Мой опыт
          включает работу с различными проектами, от небольших приложений до
          сложных систем, что позволяет мне эффективно решать задачи различной
          сложности.
        </p>
        <p>
          В свободное время я увлекаюсь изучением новых технологий и
          подходов в разработке и в целом очень люблю читать. Я верю в
          важность постоянного обучения и саморазвития, что позволяет мне
          оставаться на переднем крае технологий.
        </p>
        <p>
          Если вы ищете надежного и профессионального разработчика для
          вашего проекта, буду рад обсудить возможное сотрудничество!
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}